{
    "data": {
        "elevation": 50,
        "external_url": "https://home.broh-kahn.com",
        "internal_url": "http://10.0.0.10:8123",
        "latitude": 38.89119148956352,
        "location_name": "Home",
        "longitude": -77.08185696596956,
        "time_zone": "America/New_York",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}