{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 38.89119148956352,
        "longitude": -77.08185696596956,
        "elevation": 50,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "America/New_York",
        "external_url": "https://home.broh-kahn.com",
        "internal_url": "http://10.0.2.10:8123"
    }
}